SwaggerWithExamples/bin/
SwaggerWithExamples/obj/
SwaggerWithExamples/.vs/
Poc.MongoProxy/obj/
Poc.MongoProxy/.vs/
MongoRepository/Poc.MongoRepository/obj/
MongoRepository/Poc.MongoRepository/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
MongoRepository/Poc.MongoRepository/bin/
MongoRepository/Poc.MongoRepository/.vs/
MongoRepository/MongoRepository/obj/
MongoRepository/.vs/
HttpClientTesting/.vs/
HttpClientTesting/bin/
HttpClientTesting/obj/
HttpClientTesting/HttpClientTesting/.vs/
HttpClientTesting/HttpClientTesting/bin/
HttpClientTesting/WeatherAPI/obj/
HttpClientTesting/WeatherAPI/bin/
HttpClientTesting/HttpClientTesting/obj/
KnowledgeBase/output/
KnowledgeBase/uploads/
KnowledgeBase/__pycache__/
PostgreSQL.Embedding/.vs/
PostgreSQL.Embedding/PostgreSQL.Embedding/obj/
PostgreSQL.Embedding/PostgreSQL.Embedding/Upload/
PostgreSQL.Embedding/PostgreSQL.Embedding/bin/
hf-api/__pycache__/
hf-api/Qwen/
PostgreSQL.Embedding/PostgreSQL.Embedding/Assets/Models/
SK.Training/SK.BasicChat/bin/
SK.Training/SK.BasicChat/obj/
SK.Training/SK.BasicChat/.vs/
SK.Training/.vs/
SK.Training/SK.Plugins/bin/
SK.Training/SK.Plugins/obj/
hf-api/models/
JsonSchemaValidator/bin/
JsonSchemaValidator/obj/
KnowledgeBase/others/output/
SK.Training/SK.RAG/bin/
SK.Training/SK.RAG/obj/
KnowledgeBase/others/input/
JsonSchemaValidator/.vs/
KnowledgeBase/input/
WebPageFetcher/obj/
WebPageFetcher/bin/
WebPageFetcher/.vs/
Python.NET/obj/
Python.NET/bin/
Python.NET/.vs/
KnowledgeBase/others/__pycache__/
MongoRepository/MongoRepository/bin/
AspNetWithK8S/AspNetWithK8S/obj/
AspNetWithK8S/.vs/
SSE.Streaming/server/WebApplication/WebApplication/obj/
SSE.Streaming/server/WebApplication/WebApplication/bin/
SSE.Streaming/server/WebApplication/.vs/
SSE.Streaming/AsyncEnumerable/obj/
SSE.Streaming/AsyncEnumerable/bin/
SSE.Streaming/AsyncEnumerable/.vs/
SSE.Streaming/server/.vs/
AspNetWithAspire/AspireApp/AspireApp.Web/bin/
AspNetWithAspire/AspireApp/AspireApp.Web/obj/
AspNetWithAspire/AspireApp/AspireApp.AppHost/obj/
AspNetWithAspire/AspireApp/AspireApp.ServiceDefaults/obj/
AspNetWithAspire/AspireApp/AspireApp.ApiService/obj/
AspNetWithAspire/AspireApp/AspireApp.AppHost/bin/
AspNetWithAspire/AspireApp/.vs/
AspNetWithAspire/AspireApp/AspireApp.ServiceDefaults/bin/
AspNetWithAspire/AspireApp/AspireApp.ApiService/bin/
AspNetWithK8S/AspNetWithK8S/bin/
Text-Evaluate/1.py
Text-Evaluate/main.py
Text-Evaluate/output.csv
Text-Evaluate/test.py
Gridify.Learning/bin/
Gridify.Learning/obj/
Gridify.Learning/.vs/
hf-api/.cached_models/
code-runner/backend/.venv/
code-runner/backend/docker/dotnet/.cache/
code-runner/backend/docker/dotnet/.local/
code-runner/backend/docker/dotnet/.dotnet/
code-runner/backend/docker/dotnet/.nuget/
code-runner/backend/__pycache__/
SGLang-Learning/async_io_api.py
face-classify/dataset/
face-classify/collections/
face-classify/.venv/
face-classify/output/
PostgreSQL.Embedding/.idea/
face-classify/testcases/
CloudMusicCrawler/__pycache__/
