SwaggerWithExamples/bin/
SwaggerWithExamples/obj/
SwaggerWithExamples/.vs/
Poc.MongoProxy/obj/
Poc.MongoProxy/.vs/
MongoRepository/Poc.MongoRepository/obj/
MongoRepository/Poc.MongoRepository/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
MongoRepository/Poc.MongoRepository/bin/
MongoRepository/Poc.MongoRepository/.vs/
MongoRepository/MongoRepository/obj/
MongoRepository/.vs/
HttpClientTesting/.vs/
HttpClientTesting/bin/
HttpClientTesting/obj/
HttpClientTesting/HttpClientTesting/.vs/
HttpClientTesting/HttpClientTesting/bin/
HttpClientTesting/WeatherAPI/obj/
HttpClientTesting/WeatherAPI/bin/
HttpClientTesting/HttpClientTesting/obj/
KnowledgeBase/output/
KnowledgeBase/uploads/
KnowledgeBase/__pycache__/
PostgreSQL.Embedding/.vs/
PostgreSQL.Embedding/PostgreSQL.Embedding/obj/
PostgreSQL.Embedding/PostgreSQL.Embedding/Upload/
PostgreSQL.Embedding/PostgreSQL.Embedding/bin/
hf-api/__pycache__/
hf-api/Qwen/
PostgreSQL.Embedding/PostgreSQL.Embedding/Assets/Models/
SK.Training/SK.BasicChat/bin/
SK.Training/SK.BasicChat/obj/
SK.Training/SK.BasicChat/.vs/
SK.Training/.vs/
SK.Training/SK.Plugins/bin/
SK.Training/SK.Plugins/obj/
